@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #e2e4de;
}

main {
    padding: 16px;
    margin: 10px;
}

footer {
    padding: 10px 10px;
    background-color: #6eb957;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: #5baf66;
}

a:hover {
    background-color: rgb(115, 202, 108);
}

a:link {
    text-decoration: none;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1,
h2 {
    color: rgb(116, 83, 79);
}

tbody tr:nth-child(odd) {
    background-color: #abadaf;
    color: #fff;
}
